#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT    0
#define SYMBOLS    1
#define NUMBERS    2
#define F_NUMBERS  3
#define NAVIGATION 4
#define BLUETOOTH  5

#define BLACK_SQUARE_BUTTON &none

#define a &kp A
#define b &kp B
#define c &kp C
#define d &kp D
#define e &kp E
#define f &kp F
#define g &kp G
#define h &kp H
#define i &kp I
#define j &kp J
#define k &kp K
#define l &kp L
#define m &kp M
#define n &kp N
#define o &kp O
#define p &kp P
#define q &kp Q
#define r &kp R
#define s &kp S
#define t &kp T
#define q &kp Q
#define u &kp U
#define v &kp V
#define w &kp W
#define x &kp X
#define y &kp Y
#define z &kp Z

#define ARROW_LEFTARROW_UP  &kp LSHFT
#define POINT_RIGHTARROW_UP  &kp RSHFT
#define RABBIT2    &kp TAB
#define LEFTWARDS_ARROW_WITH_HOOK     &kp RET 

#define ZERO &kp NUMBER_0
#define ONE &kp NUMBER_1
#define TWO &kp NUMBER_2
#define THREE &kp NUMBER_3
#define FOUR &kp NUMBER_4
#define FIVE &kp NUMBER_5
#define SIX &kp NUMBER_6
#define SEVEN &kp NUMBER_7
#define EIGHT &kp NUMBER_8
#define NINE &kp NUMBER_9

#define SNOWFLAKEZERO   &kp F0
#define SNOWFLAKEONE   &kp F1
#define SNOWFLAKETWO   &kp F2
#define SNOWFLAKETHREE   &kp F3
#define SNOWFLAKEFOUR   &kp F4
#define SNOWFLAKEFIVE   &kp F5
#define SNOWFLAKESIX   &kp F6
#define SNOWFLAKESEVEN   &kp F7
#define SNOWFLAKEEIGHT   &kp F8
#define SNOWFLAKENINE   &kp F9
#define SNOWFLAKEONEZERO  &kp F10
#define SNOWFLAKEONEONE  &kp F11
#define SNOWFLAKEONETWO  &kp F12

#define PREVIOUS_TRACK_BUTTON &kp C_PREVIOUS
#define NEXT_TRACK_BUTTON &kp C_NEXT
#define PLAY_OR_PAUSE_BUTTON &kp C_PLAY_PAUSE
#define MUTE &kp C_MUTE
#define SPEAKER &kp C_VOLUME_DOWN
#define LOUD_SOUND &kp C_VOLUME_UP

#define LOW_BRIGHTNESS &kp C_BRIGHTNESS_DEC
#define HIGH_BRIGHTNESS &kp C_BRIGHTNESS_INC
#define TOOLBOX &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS
#define WINDOW &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS
#define NO_SMOKING &kp BACKSPACE

#define TEAEND &kp END
#define HOUSE   &kp HOME
#define ARROW_LEFT   &kp LEFT
#define ARROW_DOWN   &kp DOWN
#define ARROW_UP   &kp UP
#define POINT_RIGHT   &kp RIGHT
#define ARROW_HEADING_DOWN   &kp PAGE_DOWN
#define ARROW_HEADING_UP   &kp PAGE_UP

&lt {
  tapping-term-ms = <100>;
};

/ {


  combos {
    compatible = "zmk,combos";
    bluetooth_layer {
      timeout-ms = <50>;
      key-positions = <0 36>;
      bindings = <&mo BLUETOOTH>;
    };
    navigation_layer {
      timeout-ms = <50>;
      key-positions = <12 37>;
      bindings = <&mo NAVIGATION>;
    };
    f_numbers_layer {
      timeout-ms = <50>;
      key-positions = <37 40>;
      bindings = <&mo F_NUMBERS>;
    };
    left_gui {
      timeout-ms = <50>;
      key-positions = <24 37>;
      bindings = <&kp LEFT_GUI>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    default {
      bindings =
        <
            RABBIT2 q w e r t y u i o p NO_SMOKING 

            ARROW_LEFTARROW_UP       a s d f g h j k l POINT_RIGHTARROW_UP LEFTWARDS_ARROW_WITH_HOOK

            &kp LCTRL z x c v b n m  BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON &kp RIGHT_CONTROL &kp RIGHT_GUI

           &kp LEFT_ALT &mo NUMBERS &lt SYMBOLS SPACE &kp ESCAPE BLACK_SQUARE_BUTTON &kp RIGHT_ALT
        >;
    };
    symbols {
      bindings =
        <
            &kp EXCLAMATION &kp AT_SIGN &kp HASH       &kp DOLLAR &kp PERCENT   &kp CARET    &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp PLUS         &kp EQUAL         &kp LESS_THAN &kp GREATER_THAN

            &kp QUESTION    BLACK_SQUARE_BUTTON       &kp UNDERSCORE &kp MINUS  &kp AMPERSAND &kp ASTERISK &kp LEFT_BRACE       &kp RIGHT_BRACE       &kp SINGLE_QUOTE &kp DOUBLE_QUOTES &kp COLON     &kp SEMICOLON

            BLACK_SQUARE_BUTTON           BLACK_SQUARE_BUTTON       BLACK_SQUARE_BUTTON          BLACK_SQUARE_BUTTON      &kp TILDE     &kp GRAVE    &kp LEFT_BRACKET     &kp RIGHT_BRACKET     &kp COMMA        &kp DOT           &kp SPACE     BLACK_SQUARE_BUTTON

                                                       BLACK_SQUARE_BUTTON      BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON        &kp FSLH             &kp PIPE              &kp BSLH
        >;
    };
    numbers {
      bindings =
        <
          PREVIOUS_TRACK_BUTTON   MUTE   SPEAKER   LOUD_SOUND   PLAY_OR_PAUSE_BUTTON   NEXT_TRACK_BUTTON         BLACK_SQUARE_BUTTON   ONE   TWO   THREE   BLACK_SQUARE_BUTTON   NO_SMOKING

          BLACK_SQUARE_BUTTON   LOW_BRIGHTNESS   HIGH_BRIGHTNESS   WINDOW   TOOLBOX   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON   FOUR   FIVE   SIX   ZERO   BLACK_SQUARE_BUTTON

          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON   SEVEN   EIGHT   NINE   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON

                            BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON    BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON
        >;
    };
    f_numbers {
      bindings =
        <
          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON  SNOWFLAKEONE  SNOWFLAKETWO  SNOWFLAKETHREE  SNOWFLAKEONEZERO BLACK_SQUARE_BUTTON

          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON  SNOWFLAKEFOUR  SNOWFLAKEFIVE  SNOWFLAKESIX  SNOWFLAKEONEZERO BLACK_SQUARE_BUTTON

          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON  SNOWFLAKESEVEN  SNOWFLAKEEIGHT  SNOWFLAKENINE  SNOWFLAKEONETWO BLACK_SQUARE_BUTTON

                            BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON    BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON
        >;
    };
    navigation {
      bindings =
        <
          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   TEAEND HOUSE

          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         ARROW_LEFT   ARROW_DOWN   ARROW_UP   POINT_RIGHT   ARROW_HEADING_DOWN   ARROW_HEADING_UP

          BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON         BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON

                            BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON    BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON   BLACK_SQUARE_BUTTON
        >;
    };
    bluetooth {
      bindings =
        <
            BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON     BLACK_SQUARE_BUTTON            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  BLACK_SQUARE_BUTTON          BLACK_SQUARE_BUTTON

            BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON     &bt BT_PRV    &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_NXT    BLACK_SQUARE_BUTTON          BLACK_SQUARE_BUTTON

            BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON     BLACK_SQUARE_BUTTON            BLACK_SQUARE_BUTTON           BLACK_SQUARE_BUTTON           BLACK_SQUARE_BUTTON            BLACK_SQUARE_BUTTON          BLACK_SQUARE_BUTTON

                     BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON BLACK_SQUARE_BUTTON     &kp C_AL_LOCK &bt BT_CLR   BLACK_SQUARE_BUTTON
        >;
    };
  };
};