#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT    0
#define SYMBOLS    1
#define NUMBERS    2
#define F_NUMBERS  3
#define NAVIGATION 4
#define BLUETOOTH  5

#define _ &none

#define a &kp A
#define b &kp B
#define c &kp C
#define d &kp D
#define e &kp E
#define f &kp F
#define g &kp G
#define h &kp H
#define i &kp I
#define j &kp J
#define k &kp K
#define l &kp L
#define m &kp M
#define n &kp N
#define o &kp O
#define p &kp P
#define q &kp Q
#define q &kp Q
#define r &kp R
#define s &kp S
#define t &kp T
#define u &kp U
#define v &kp V
#define w &kp W
#define x &kp X
#define y &kp Y
#define z &kp Z

#define n0 &kp NUMBER_0
#define n1 &kp NUMBER_1
#define n2 &kp NUMBER_2
#define n3 &kp NUMBER_3
#define n4 &kp NUMBER_4
#define n5 &kp NUMBER_5
#define n6 &kp NUMBER_6
#define n7 &kp NUMBER_7
#define n8 &kp NUMBER_8
#define n9 &kp NUMBER_9

#define fn0  &kp F0
#define fn1  &kp F1
#define fn2  &kp F2
#define fn3  &kp F3
#define fn4  &kp F4
#define fn5  &kp F5
#define fn6  &kp F6
#define fn7  &kp F7
#define fn8  &kp F8
#define fn9  &kp F9
#define fn10 &kp F10
#define fn11 &kp F11
#define fn12 &kp F12

#define and     &kp AMPERSAND
#define at      &kp AT_SIGN
#define bang    &kp EXCLAMATION
#define bksp    &kp BACKSPACE
#define brgh_dw &kp C_BRIGHTNESS_DEC
#define brgh_up &kp C_BRIGHTNESS_INC
#define bslash  &kp BSLH
#define caret   &kp CARET
#define colon   &kp COLON
#define comma   &kp COMMA
#define d_qoute &kp DOUBLE_QUOTES
#define dollar  &kp DOLLAR
#define dot     &kp DOT
#define down    &kp DOWN
#define end     &kp END
#define enter   &kp ENTER
#define equal   &kp EQUAL
#define fslash  &kp FSLH
#define grave   &kp GRAVE
#define greater &kp GREATER_THAN
#define hash    &kp HASH
#define home    &kp HOME
#define lalt    &kp LEFT_ALT
#define lbrace  &kp LEFT_BRACE
#define lbrckt  &kp LEFT_BRACKET
#define lctrl   &kp LEFT_CONTROL
#define left    &kp LEFT
#define less    &kp LESS_THAN
#define lock    &kp C_AL_LOCK
#define lparen  &kp LEFT_PARENTHESIS
#define minus   &kp MINUS
#define mute    &kp C_MUTE
#define next    &kp C_NEXT
#define page_dw &kp PAGE_DOWN
#define page_up &kp PAGE_UP
#define period  &kp PERIOD
#define pipe    &kp PIPE
#define play    &kp C_PLAY_PAUSE
#define plus    &kp PLUS
#define prct    &kp PERCENT
#define prev    &kp C_PREVIOUS
#define qmark   &kp QUESTION
#define ralt    &kp RIGHT_ALT
#define rbrace  &kp RIGHT_BRACE
#define rbrckt  &kp RIGHT_BRACKET
#define rctrl   &kp RIGHT_CONTROL
#define rgui    &kp RIGHT_GUI
#define right   &kp RIGHT
#define rparen  &kp RIGHT_PARENTHESIS
#define rshift  &kp RIGHT_SHIFT
#define s_qoute &kp SINGLE_QUOTE
#define semi    &kp SEMICOLON
#define space   &kp SPACE
#define star    &kp ASTERISK
#define tab     &kp TAB
#define tilde   &kp TILDE
#define toolbox &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS
#define up      &kp UP
#define uscore  &kp UNDERSCORE
#define vol_dw  &kp C_VOLUME_DOWN
#define vol_up  &kp C_VOLUME_UP
#define window  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS

#define bt0     &bt BT_SEL 0
#define bt1     &bt BT_SEL 1
#define bt2     &bt BT_SEL 2
#define bt3     &bt BT_SEL 3
#define bt4     &bt BT_SEL 4
#define bt_clr  &bt BT_CLR
#define bt_next &bt BT_NXT
#define bt_prev &bt BT_PRV

#define shf_esc &mt LEFT_SHIFT ESCAPE

#define mo_num &mo NUMBERS
#define mo_sym &mo SYMBOLS

&lt {
  tapping-term-ms = <150>;
};

/ {
  combos {
    compatible = "zmk,combos";
    bluetooth_layer {
      timeout-ms = <50>;
      key-positions = <0 36>;
      bindings = <&mo BLUETOOTH>;
    };
    navigation_layer {
      timeout-ms = <50>;
      key-positions = <12 37>;
      bindings = <&mo NAVIGATION>;
    };
    f_numbers_layer {
      timeout-ms = <50>;
      key-positions = <37 40>;
      bindings = <&mo F_NUMBERS>;
    };
    left_gui {
      timeout-ms = <50>;
      key-positions = <24 37>;
      bindings = <&kp LEFT_GUI>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    default {
      bindings =
        <
          tab     q       w       e       r       t         y       u       i       o       p       bksp

          shf_esc a       s       d       f       g         h       j       k       l       rshift  enter

          lctrl   z       x       c       v       b         n       m       comma   period  space   rgui

                                  lalt    mo_num  mo_sym    _       _       ralt
        >;
    };
    symbols {
      bindings =
        <
          bang    at      hash    dollar  prct    caret     lparen  rparen  equal   plus    less    greater

          qmark   _       uscore  minus   and     star      lbrace  rbrace  s_qoute d_qoute colon   semi

          _       _       _       _       tilde   grave     lbrckt  rbrckt  comma   dot     space   _

                                  _       _       _         fslash  pipe    bslash
        >;
    };
    numbers {
      bindings =
        <
          prev    mute    vol_dw  vol_up  play    next      _       n1      n2      n3      _       bksp

          _       brgh_dw brgh_up window  toolbox _         _       n4      n5      n6      n0      _

          _       _       _       _       _       _         _       n7      n8      n9      _       _

                                  _       _       _         _       _       _
        >;
    };
    f_numbers {
      bindings =
        <
          _       _       _       _       _       _         _       fn1     fn2     fn3     fn10    _

          _       _       _       _       _       _         _       fn4     fn5     fn6     fn11    _

          _       _       _       _       _       _         _       fn7     fn8     fn9     fn12    _

                                  _       _       _         _       _       _
        >;
    };
    navigation {
      bindings =
        <
          _       _       _       _       _       _         _       _       _       _       end     home

          _       _       _       _       _       _         left   down     up      right   page_dw page_up

          _       _       _       _       _       _         _       _       _       _       _       _

                                  _       _       _         _       _       _
        >;
    };
    bluetooth {
      bindings =
        <
          _       _       _       _       _       _         _       bt0     bt1     bt2     _       _

          _       _       _       _       _       _         bt_prev bt3     bt4     bt_next _       _

          _       _       _       _       _       _         _       _       _       _       _       _

                                  _       _       _         lock    bt_clr  _
        >;
    };
  };
};
